<h1>Создать учетную запись</h1>

<%= simple_form_for @user do |f| %>
  <%= render 'fields', f: f %>
  <%= f.button :submit, "Создать", class: "btn btn-large btn-primary" %>
<% end %>
<%= link_to 'Назад', root_path %>
