.container {
  header {
    background: #B7B0B5;
    border-bottom: 5px solid #727272;
    padding: 10px 10px 10px 10px;
    margin: 0;
    h1 {
      float: left;
      margin: 0;
    }
  }
}

.logo { color: #555254;
  &:hover{
    color: #474548;
    text-decoration: none;
  }
}

.navi{
  li{
    a {
      text-transform: uppercase;
      color: #fff;
      border: 1px solid transparent;
      &:hover, &:focus {
        color: #fff;
        background-color: transparent;
        border: 1px solid #555254;
      }
    }
  }
}
.content {
  padding-top: 20px;
  text-align: center;
  .big-font {
    font-size: 22px;
  }
}

table {
  width: 700px;
  margin-top: 50px;
  tr {
    td, th {
      border: 1px solid #B7B0B5;
    }
    th {
      background: #e5e5e5;
      text-align: center;
      height: 35px;
      text-transform: uppercase;
    }
  }
}

/* forms */
input {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 40%;
  height: 25px;
  margin-bottom: 15px;
}

input[type="submit"] {
  width: 100px;
  height: 40px !important;
  background-color: #C7C1C1;
  border-color: #727272;
  &:hover, &:focus {
    background-color: #C7C1C1;
    border-color: #5D2C2C;
    color: rgb(143, 136, 136);
  }
}

#error_explanation {
  color: #f00;
  width: 60%;
  margin: auto;
  ul {
    list-style: none;
    margin: 0 0 15px 0;
  }
}
.border-error {
  border: 1px solid #FC0000;
  border-radius: 20px;
}
    
.field_with_errors {
  @extend .control-group;
  @extend .error;
}
