.container > header{
  margin-right:0;
  margin-left:0;
  background: #e5e5e5;
  border-color: #000;
  padding:10px 10px 10px 10px;
  margin:0;
}
.container > header > h1 {
  float: left;
  margin:0;
}
.container > header a{
  border:1px solid transparent;
}
.container > header a:hover{
  background-color: inherit;
  border:1px solid #2a6496;
}
.content{
  padding-top:20px;
  text-align: center;
}
